<!DOCTYPE html>
<html lang="en" ng-app="boraApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bora?</title>

    <link href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Bora?</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="#">Ver Eventos</a></li>
                  <li><a href="http://localhost:8080/frontend/views/#!/event/create">Novo Evento</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div ui-view></div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <script src="../lib/angularjs-1.6.4/angular.min.js"></script>
    <script src="../lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="js/app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>


  </body>
</html>
